.wy-table-responsive table td {
    white-space: normal;
}

.wy-nav-content {
    max-width: 100%;
}

.wy-table-responsive {
    overflow: visible;
}

.rst-content .highlight-bash,
.rst-content .highlight-bash .highlight,
.rst-content .highlight-bash pre,
.rst-content .highlight-yaml,
.rst-content .highlight-yaml .highlight,
.rst-content .highlight-yaml pre {
    background: #eefbd0;
}

.rst-content .highlight-bash,
.rst-content .highlight-yaml {
    border: 1px solid #d6e9a8;
}

/* Darken navbar blue background for contrast */
.wy-side-nav-search,
.wy-nav-top {
    background: #2779b0;
}
