name: Build and Deploy Documentation

on:
  push:
    branches: [ feature/auto_docs ]

jobs:

  documentation:

    runs-on: ubuntu-latest
    name: Build and deploy documentation

    steps:
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"
